/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
/* :root {
  --bg-primary-button: #c6a15a;
  --bg-primary: #ffffff;
  --color-secondary: #ffffff;
  --ion-background-color: #f5f6fa;
  --ion-text-color: #222224;
  --primary-text-button: #ffffff;
  --border: #dddddd;
  --line: #222224;
  --women-svg: #d82316;
  --men-svg: #015aef;
}

.dark {
  --color-secondary: #383839;
  --ion-background-color: #222224;
  --ion-text-color: #f5f6fa;
  --primary-text-button: #222224;
  --border: #383839;
  --line: #ffffff;
} */

/* :root {
  --ion-color-primary: #c6a15a;
  --ion-color-primary-rgb: 56, 56, 57;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;
} */


:root[data-theme="dark"] {
  /** primary **/
  --ion-color-primary: #c6a15a;
  --ion-color-primary-rgb: 56, 56, 57;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-btn: #222428;
  --ion-color-primary-tint: #5598ff;

  /** secondary **/
  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-btn: #383839;
  --ion-color-secondary-tint: #62ceff;

   /** dark **/
--ion-color-dark: #222428;
--ion-color-dark-rgb: 34, 36, 40;
--ion-color-dark-contrast: #ffffff;
--ion-color-dark-contrast-rgb: 255, 255, 255;
--ion-color-dark-shade: #1e2023;
--ion-color-dark-tint: #383a3e;

--ion-background-color: #222224;
--ion-text-color: #ffffff;
--toggle-btn-color-one: #757575;
--toggle-btn-color-two: #4B4B4B;
--list-hover-color: #383839;
--hover-text-color: #ffffff;
--border-color: #383839;
--sidebar-background-color: #222224;
--progressbar-background-color: #383839;
--footer-icons-color: #FFFFFF;
/* --item-background-color: #383839; */
}

:root[data-theme="light"] {
  /** primary **/
  --ion-color-primary: #c6a15a;
  --ion-color-primary-rgb: 56, 56, 57;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-btn: #FFFFFF;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-btn: #FFFFFF;
  --ion-color-secondary-tint: #50c8ff;

  /** light **/
--ion-color-light: #f4f5f8;
--ion-color-light-rgb: 244, 245, 248;
--ion-color-light-contrast: #000000;
--ion-color-light-contrast-rgb: 0, 0, 0;
--ion-color-light-shade: #d7d8da;
--ion-color-light-tint: #f5f6f9;

--ion-background-color: #F5F6FA;
--ion-text-color: #222224;
--toggle-btn-color-one: #ffffff;
--toggle-btn-color-two: #ffffff;
--list-hover-color: #383839;
--hover-text-color: #ffffff;
--border-color: #DDDDDD;
--item-background-color: #ffffff;
--sidebar-background-color: #F5F6FA;
--progressbar-background-color: #DDDDDD;
--footer-icons-color: #c6a15a;
}
